SirketClient/Connected Services/LoginService/LoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MusteriGiris">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oturum" type="tns:OturumResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OturumResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KullaniciAdi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sifre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MusteriGirisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MusteriGirisResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KurumsalGiris">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oturum" type="tns:OturumResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KurumsalGirisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KurumsalGirisResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MusteriGirisSoapIn">
    <wsdl:part name="parameters" element="tns:MusteriGiris" />
  </wsdl:message>
  <wsdl:message name="MusteriGirisSoapOut">
    <wsdl:part name="parameters" element="tns:MusteriGirisResponse" />
  </wsdl:message>
  <wsdl:message name="KurumsalGirisSoapIn">
    <wsdl:part name="parameters" element="tns:KurumsalGiris" />
  </wsdl:message>
  <wsdl:message name="KurumsalGirisSoapOut">
    <wsdl:part name="parameters" element="tns:KurumsalGirisResponse" />
  </wsdl:message>
  <wsdl:portType name="LoginServiceSoap">
    <wsdl:operation name="MusteriGiris">
      <wsdl:input message="tns:MusteriGirisSoapIn" />
      <wsdl:output message="tns:MusteriGirisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KurumsalGiris">
      <wsdl:input message="tns:KurumsalGirisSoapIn" />
      <wsdl:output message="tns:KurumsalGirisSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginServiceSoap" type="tns:LoginServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MusteriGiris">
      <soap:operation soapAction="http://tempuri.org/MusteriGiris" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KurumsalGiris">
      <soap:operation soapAction="http://tempuri.org/KurumsalGiris" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginServiceSoap12" type="tns:LoginServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MusteriGiris">
      <soap12:operation soapAction="http://tempuri.org/MusteriGiris" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KurumsalGiris">
      <soap12:operation soapAction="http://tempuri.org/KurumsalGiris" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginService">
    <wsdl:port name="LoginServiceSoap" binding="tns:LoginServiceSoap">
      <soap:address location="http://localhost:51376/LoginService.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginServiceSoap12" binding="tns:LoginServiceSoap12">
      <soap12:address location="http://localhost:51376/LoginService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>