SirketClient/Connected Services/MusteriService/MusteriService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MusteriEkle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="musteri" type="tns:MusteriResult" />
            <s:element minOccurs="0" maxOccurs="1" name="otr" type="tns:OturumM" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MusteriResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MusteriID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Ad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Soyad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TCkimlik" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Adres" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OturumM">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KullaniciAdi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sifre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MusteriEkleResponse">
        <s:complexType />
      </s:element>
      <s:element name="OturumEkle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oturum" type="tns:OturumM" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OturumEkleResponse">
        <s:complexType />
      </s:element>
      <s:element name="MusteriListele">
        <s:complexType />
      </s:element>
      <s:element name="MusteriListeleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MusteriListeleResult" type="tns:ArrayOfMusteriResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMusteriResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MusteriResult" nillable="true" type="tns:MusteriResult" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MusteriEkleSoapIn">
    <wsdl:part name="parameters" element="tns:MusteriEkle" />
  </wsdl:message>
  <wsdl:message name="MusteriEkleSoapOut">
    <wsdl:part name="parameters" element="tns:MusteriEkleResponse" />
  </wsdl:message>
  <wsdl:message name="OturumEkleSoapIn">
    <wsdl:part name="parameters" element="tns:OturumEkle" />
  </wsdl:message>
  <wsdl:message name="OturumEkleSoapOut">
    <wsdl:part name="parameters" element="tns:OturumEkleResponse" />
  </wsdl:message>
  <wsdl:message name="MusteriListeleSoapIn">
    <wsdl:part name="parameters" element="tns:MusteriListele" />
  </wsdl:message>
  <wsdl:message name="MusteriListeleSoapOut">
    <wsdl:part name="parameters" element="tns:MusteriListeleResponse" />
  </wsdl:message>
  <wsdl:portType name="MusteriServiceSoap">
    <wsdl:operation name="MusteriEkle">
      <wsdl:input message="tns:MusteriEkleSoapIn" />
      <wsdl:output message="tns:MusteriEkleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OturumEkle">
      <wsdl:input message="tns:OturumEkleSoapIn" />
      <wsdl:output message="tns:OturumEkleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MusteriListele">
      <wsdl:input message="tns:MusteriListeleSoapIn" />
      <wsdl:output message="tns:MusteriListeleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MusteriServiceSoap" type="tns:MusteriServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MusteriEkle">
      <soap:operation soapAction="http://tempuri.org/MusteriEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OturumEkle">
      <soap:operation soapAction="http://tempuri.org/OturumEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MusteriListele">
      <soap:operation soapAction="http://tempuri.org/MusteriListele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MusteriServiceSoap12" type="tns:MusteriServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MusteriEkle">
      <soap12:operation soapAction="http://tempuri.org/MusteriEkle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OturumEkle">
      <soap12:operation soapAction="http://tempuri.org/OturumEkle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MusteriListele">
      <soap12:operation soapAction="http://tempuri.org/MusteriListele" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MusteriService">
    <wsdl:port name="MusteriServiceSoap" binding="tns:MusteriServiceSoap">
      <soap:address location="http://localhost:51376/MusteriService.asmx" />
    </wsdl:port>
    <wsdl:port name="MusteriServiceSoap12" binding="tns:MusteriServiceSoap12">
      <soap12:address location="http://localhost:51376/MusteriService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>