SirketClient/Connected Services/AracService/AracService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="YeniAracEkle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="arac" type="tns:AracResult" />
            <s:element minOccurs="0" maxOccurs="1" name="KullaniciAdi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AracResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AracID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Marka" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Model" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AracYasi" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BagajHacmi" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KoltukSayisi" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GunlukFiyat" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="KiralanmaDurumu" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="AirbagDurum" nillable="true" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="YeniAracEkleResponse">
        <s:complexType />
      </s:element>
      <s:element name="AracListele">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KullaniciAdi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AracListeleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AracListeleResult" type="tns:ArrayOfAracResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAracResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AracResult" nillable="true" type="tns:AracResult" />
        </s:sequence>
      </s:complexType>
      <s:element name="AracGuncelle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="arac" type="tns:AracResult" />
            <s:element minOccurs="1" maxOccurs="1" name="aracID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AracGuncelleResponse">
        <s:complexType />
      </s:element>
      <s:element name="AracSil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="aracID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AracSilResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="YeniAracEkleSoapIn">
    <wsdl:part name="parameters" element="tns:YeniAracEkle" />
  </wsdl:message>
  <wsdl:message name="YeniAracEkleSoapOut">
    <wsdl:part name="parameters" element="tns:YeniAracEkleResponse" />
  </wsdl:message>
  <wsdl:message name="AracListeleSoapIn">
    <wsdl:part name="parameters" element="tns:AracListele" />
  </wsdl:message>
  <wsdl:message name="AracListeleSoapOut">
    <wsdl:part name="parameters" element="tns:AracListeleResponse" />
  </wsdl:message>
  <wsdl:message name="AracGuncelleSoapIn">
    <wsdl:part name="parameters" element="tns:AracGuncelle" />
  </wsdl:message>
  <wsdl:message name="AracGuncelleSoapOut">
    <wsdl:part name="parameters" element="tns:AracGuncelleResponse" />
  </wsdl:message>
  <wsdl:message name="AracSilSoapIn">
    <wsdl:part name="parameters" element="tns:AracSil" />
  </wsdl:message>
  <wsdl:message name="AracSilSoapOut">
    <wsdl:part name="parameters" element="tns:AracSilResponse" />
  </wsdl:message>
  <wsdl:portType name="AracServiceSoap">
    <wsdl:operation name="YeniAracEkle">
      <wsdl:input message="tns:YeniAracEkleSoapIn" />
      <wsdl:output message="tns:YeniAracEkleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AracListele">
      <wsdl:input message="tns:AracListeleSoapIn" />
      <wsdl:output message="tns:AracListeleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AracGuncelle">
      <wsdl:input message="tns:AracGuncelleSoapIn" />
      <wsdl:output message="tns:AracGuncelleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AracSil">
      <wsdl:input message="tns:AracSilSoapIn" />
      <wsdl:output message="tns:AracSilSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AracServiceSoap" type="tns:AracServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="YeniAracEkle">
      <soap:operation soapAction="http://tempuri.org/YeniAracEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AracListele">
      <soap:operation soapAction="http://tempuri.org/AracListele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AracGuncelle">
      <soap:operation soapAction="http://tempuri.org/AracGuncelle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AracSil">
      <soap:operation soapAction="http://tempuri.org/AracSil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AracServiceSoap12" type="tns:AracServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="YeniAracEkle">
      <soap12:operation soapAction="http://tempuri.org/YeniAracEkle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AracListele">
      <soap12:operation soapAction="http://tempuri.org/AracListele" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AracGuncelle">
      <soap12:operation soapAction="http://tempuri.org/AracGuncelle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AracSil">
      <soap12:operation soapAction="http://tempuri.org/AracSil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AracService">
    <wsdl:port name="AracServiceSoap" binding="tns:AracServiceSoap">
      <soap:address location="http://localhost:51376/AracService.asmx" />
    </wsdl:port>
    <wsdl:port name="AracServiceSoap12" binding="tns:AracServiceSoap12">
      <soap12:address location="http://localhost:51376/AracService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>